@font-face {
    font-family: 'Verdana';
    src: url('../font/Verdana-Bold.eot');
    src: url('../font/Verdana-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Verdana-Bold.woff2') format('woff2'),
        url('../font/Verdana-Bold.woff') format('woff'),
        url('../font/Verdana-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Verdana';
    src: url('../font/Verdana.eot');
    src: url('../font/Verdana.eot?#iefix') format('embedded-opentype'),
        url('../font/Verdana.woff2') format('woff2'),
        url('../font/Verdana.woff') format('woff'),
        url('../font/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.back-ground {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    height: 140vh;
    
}
.content {
    width: 1060px;
    margin: 0 auto;
    color: #fff;
    font-family: 'Verdana', sans-serif;
    display: flex;
    flex-direction: column;
}
.content-header {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 20px;
}
.logo {
    width: 300px; 
}
.header-link {
    display: flex;
    text-decoration: none;
    color: #fff;
    vertical-align: top;
}

.link-img {
    display: inline-block;
    background-image: url(../img/logosprites.png);
    width: 54px;
    height: 70px;
    background-position: -5px 20px;
    background-repeat: no-repeat;
}
.header-link:hover {
    color: #f26522;
}
.header-link:hover .link-img {
    background-position: -61px 20px;
}
.header-name {
    display: inline;
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
}
.header-name-span {
    font-size: 18px;
    display: block;
    text-transform: uppercase;
}
.header-info {
    margin-top: 25px;
}
.info-email {
    display: block;
    text-align: right;
    color:  #fff;
    font-size: 18px;
    text-decoration: none;
}
.info-tel {
    float: right;
    color:  #fff;
    font-size: 18px;
    text-decoration: none;
}
.content-menu {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
    flex-flow: row wrap;
}
.menu-item {
    width: 307px;
    position: relative;
}
.menu-item-link {
    text-decoration: none;
}
.menu-tour {
    border: 2px solid transparent;
    border-image: linear-gradient(0deg, black, white);
    border-image-slice: 1;
    box-shadow: 1px 6px 16px 1px rgba(0,0,0,0.75);
}
.tour-detailes {
    width: 311px;
    height: 63px;
    background: rgb(242, 101, 34);
    position: absolute;
    bottom: 102px;
    display: none;
    padding-left: 21px;
}
.menu-item:hover .tour-detailes {
    display: block;
}
.menu-item:hover .menu-tour-name{
    color: rgb(242, 101, 34);
}
.menu-tour-name {
    text-align: center;
    margin-bottom: 58px;
    padding-top: 22px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}
.detailes-item1 {
    font-size: 10px;
    color: #fff;
    margin-top: 16px;
}
.detailes-item2 {
    font-size: 20px;
    color: #fff;
    display: inline-block;
}
.detailes-item3 {
    text-align: right;
    color: #fff;
    float: right;
    margin-right: 25px;
}
.detailes-item3::after {
    content: '>';
    padding-left: 15px;
    
}
.copyright {
    text-align: center;
    font-size: 12px;
}